@model IEnumerable<FinalCapstone.Models.Team>
    <h2>My Teams</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
      
        <td>
            @Html.ActionLink("Delete", "Delete", "Teams", new { id=item.TeamId }, null)
        </td>
    </tr>
}

</table>
