@model FinalCapstone.Models.Team

@{
    ViewBag.Title = "AddToJunction";
}

<h2>AddToJunction</h2>

<h3>Do you want to be a part of this team?</h3>
<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Add" class="btn btn-default" /> |

    @Html.ActionLink("Join a Team", "TeamsList", "Teams", new { id = Model.TeamId }, null)
</div>
    }
</div>
