@model IEnumerable<FinalCapstone.Models.Meeting>

@{
    ViewBag.Title = "SeeRoute";
    ViewBag.Organization = "Organizations";
}
@{ 
    //var locations = ViewBag.Meeting;
}

<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div class="jumbotron" style="background-image: url(../../streetlifeboots2.jpg); object-fit: fill; background-size: cover; background-position:center; height: 200px">
        <p class="lead" style="font-size: 75px; text-shadow: -4px 4px 5px #000000;">Find my Events:</p>
    </div>
    <div id="map"></div>
</body>
        <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), { zoom: 5, center: { lat: 43.0389, lng: -87.9065 } });

            @foreach(var item in Model) {
                <text>
                myLatLng = new google.maps.LatLng(@item.Latitude, @item.Longitude);
                marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map
                });
                </text>
            }
        }

        </script>
        <script src="@ViewBag.APICall" async defer></script>
        <br />
        <div class="btn btn-default">
            @Html.ActionLink("Meetings", "Index", "Meetings", new { id = Model.FirstOrDefault().TeamId }, null)
        </div>
          

