@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron" style="background-image: url(../../streetlifeboots2.jpg); object-fit: fill; background-size: cover; background-position:center; height: 270px">
    <div class="lead" style="font-size: 80px; text-shadow: -4px 4px 5px #000000;
">StreetLife Communities</div>
</div>

<div class="jumbotron">
        <img style="height: 400px; width:500px"  src="~/homeless.photo.jpg" alt="Erinn Neidinger" />
        <img style="height: 400px; width:500px"  src="~/streetlife.jpg" alt="Erinn Neidinger" />
</div>