@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(../../streetlifeboots2.jpg); object-fit: fill; background-size: cover; background-position:center; height: 375px">
    <p class="lead" style="font-size: 170px; text-shadow: -4px 4px 5px #000000;
">SafetyNet</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Organize</h2>
        <p>
            Teammembers can create organizations, teams and meetings in order to keep track of their organization. Teammembers can also join other organizations they are interested in, focusing primarily on volunteer and nonprofit organizations.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Keep your team safe</h2>
        <p>Keep your team safe by tracking the location of everyone involved in your team. Directions to your next meeting are included! There is also the ability to send text messages to teammembers in case of an emergency.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Share Requests
        </h2>
        <p>Share Requests or notes from meetings in a shared team board that can keep all notes in one place.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>